/* Clases .border-round desde xs hasta 10xl con valores progresivos */

.border-round-xs {
    border-radius: 0.0625rem;
}

/* 1px */
.border-round-sm {
    border-radius: 0.125rem;
}

/* 2px */
.border-round-md {
    border-radius: 0.25rem;
}

/* 4px */
.border-round-lg {
    border-radius: 0.5rem;
}

/* 8px */
.border-round-xl {
    border-radius: 0.75rem;
}

/* 12px */
.border-round-2xl {
    border-radius: 1rem;
}

/* 16px */
.border-round-3xl {
    border-radius: 1.5rem;
}

/* 24px */
.border-round-4xl {
    border-radius: 2rem;
}

/* 32px */
.border-round-5xl {
    border-radius: 2.5rem;
}

/* 40px */
.border-round-6xl {
    border-radius: 3rem;
}

/* 48px */
.border-round-7xl {
    border-radius: 3.5rem;
}

/* 56px */
.border-round-8xl {
    border-radius: 4rem;
}

/* 64px */
.border-round-9xl {
    border-radius: 5rem;
}

/* 80px */
.border-round-10xl {
    border-radius: 6rem;
}

/* 96px */