.square {
    display: block;
    height: 32px;
    width: 32px;
}

.profile-square {
    display: block;
    height: 64px;
    width: 64px;
}

.profile-circle {
    display: block;
    height: 64px;
    width: 64px;
    min-width: 64px;
    max-width: 64px;
    border-radius: 100px;
}