.vstack {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}
.vstack.align-left {
  align-items: start;
}
.vstack.align-center {
  align-items: center;
}
.vstack.align-right {
  align-items: end;
}
.vstack.dist-start {
  justify-content: flex-start;
}
.vstack.dist-center {
  justify-content: flex-center;
}
.vstack.dist-end {
  justify-content: flex-end;
}
.vstack.dist-space-between {
  justify-content: space-between;
}
.vstack.dist-space-evenly {
  justify-content: space-evenly;
}
.vstack.dist-space-around {
  justify-content: space-around;
}
.hstack {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
}
.hstack.align-top {
  align-items: start;
}
.hstack.align-center {
  align-items: center;
}
.hstack.align-bottom {
  align-items: end;
}
.hstack.dist-left {
  justify-content: flex-start;
}
.hstack.dist-center {
  justify-content: center;
}
.hstack.dist-right {
  justify-content: flex-end;
}
.hstack.dist-space-between {
  justify-content: space-between;
}
.hstack.dist-space-evenly {
  justify-content: space-evenly;
}
.hstack.dist-space-around {
  justify-content: space-around;
}
/* sizing */
.w-fit {
  width: fit-content;
}
.w-fill {
  width: 100%;
}
.w.w-fixed {
  width: min-content;
}
.h-fill {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.h-max {
  height: max-content;
}
.h-min {
  height: min-content;
}
/* spacing */
.spacing-2 {
  gap: 2px;
}
.spacing-4 {
  gap: 4px;
}
.spacing-6 {
  gap: 6px;
}
.spacing-8 {
  gap: 8px;
}
.spacing-10 {
  gap: 10px;
}
.spacing-12 {
  gap: 12px;
}
.spacing-14 {
  gap: 14px;
}
.spacing-16 {
  gap: 16px;
}
.spacing-17 {
  gap: 17px;
}
.spacing-24 {
  gap: 24px;
}
.spacing-32 {
  gap: 32px;
}
.spacing-40 {
  gap: 40px;
}
.spacing-48 {
  gap: 48px;
}
.spacing-56 {
  gap: 56px;
}
.spacing-64 {
  gap: 64px;
}
.spacing-72 {
  gap: 72px;
}
.spacing-80 {
  gap: 80px;
}
.spacing-88 {
  gap: 88px;
}
.spacing-96 {
  gap: 96px;
}
@media (max-width: 599px) {
  .sm\:spacing-2 {
    gap: 2px;
  }
  .sm\:spacing-4 {
    gap: 4px;
  }
  .sm\:spacing-6 {
    gap: 6px;
  }
  .sm\:spacing-8 {
    gap: 8px;
  }
  .sm\:spacing-10 {
    gap: 10px;
  }
  .sm\:spacing-12 {
    gap: 12px;
  }
  .sm\:spacing-14 {
    gap: 14px;
  }
  .sm\:spacing-16 {
    gap: 16px;
  }
  .sm\:spacing-17 {
    gap: 17px;
  }
  .sm\:spacing-24 {
    gap: 24px;
  }
  .sm\:spacing-32 {
    gap: 32px;
  }
  .sm\:spacing-40 {
    gap: 40px;
  }
  .sm\:spacing-48 {
    gap: 48px;
  }
  .sm\:spacing-56 {
    gap: 56px;
  }
  .sm\:spacing-64 {
    gap: 64px;
  }
  .sm\:spacing-72 {
    gap: 72px;
  }
  .sm\:spacing-80 {
    gap: 80px;
  }
  .sm\:spacing-88 {
    gap: 88px;
  }
  .sm\:spacing-96 {
    gap: 96px;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .md\:spacing-2 {
    gap: 2px;
  }
  .md\:spacing-4 {
    gap: 4px;
  }
  .md\:spacing-6 {
    gap: 6px;
  }
  .md\:spacing-8 {
    gap: 8px;
  }
  .md\:spacing-10 {
    gap: 10px;
  }
  .md\:spacing-12 {
    gap: 12px;
  }
  .md\:spacing-14 {
    gap: 14px;
  }
  .md\:spacing-16 {
    gap: 16px;
  }
  .md\:spacing-17 {
    gap: 17px;
  }
  .md\:spacing-24 {
    gap: 24px;
  }
  .md\:spacing-32 {
    gap: 32px;
  }
  .md\:spacing-40 {
    gap: 40px;
  }
  .md\:spacing-48 {
    gap: 48px;
  }
  .md\:spacing-56 {
    gap: 56px;
  }
  .md\:spacing-64 {
    gap: 64px;
  }
  .md\:spacing-72 {
    gap: 72px;
  }
  .md\:spacing-80 {
    gap: 80px;
  }
  .md\:spacing-88 {
    gap: 88px;
  }
  .md\:spacing-96 {
    gap: 96px;
  }
}
@media (min-width: 1024px) {
  .lg\:spacing-2 {
    gap: 2px;
  }
  .lg\:spacing-4 {
    gap: 4px;
  }
  .lg\:spacing-6 {
    gap: 6px;
  }
  .lg\:spacing-8 {
    gap: 8px;
  }
  .lg\:spacing-10 {
    gap: 10px;
  }
  .lg\:spacing-12 {
    gap: 12px;
  }
  .lg\:spacing-14 {
    gap: 14px;
  }
  .lg\:spacing-16 {
    gap: 16px;
  }
  .lg\:spacing-17 {
    gap: 17px;
  }
  .lg\:spacing-24 {
    gap: 24px;
  }
  .lg\:spacing-32 {
    gap: 32px;
  }
  .lg\:spacing-40 {
    gap: 40px;
  }
  .lg\:spacing-48 {
    gap: 48px;
  }
  .lg\:spacing-56 {
    gap: 56px;
  }
  .lg\:spacing-64 {
    gap: 64px;
  }
  .lg\:spacing-72 {
    gap: 72px;
  }
  .lg\:spacing-80 {
    gap: 80px;
  }
  .lg\:spacing-88 {
    gap: 88px;
  }
  .lg\:spacing-96 {
    gap: 96px;
  }
}
